<!DOCTYPE html>
<html>
    <head>
    	<title>Team Histories | GBE College Football Ratings</title>
    </head>
    
    <body>
    
	<h2>Team History Report</h2>

	<h3>Select a team to get historical data</h3>
    
    <div>

		{% if teams %}
    		<form id="teamForm" action="/" method="post">{% csrf_token %}
        	    Team: <select id="teamSelect" name="team">
                	<option value=""></option>
            	    {% for team in teams %}
<!--	                	<option value="{{ team.id }}">{{ team.teamname }}</option>-->
	                	<option value="{{ team.teamname }}">{{ team.teamname }}</option>
	                {% endfor %}
    	        </select>
                <input type="submit" value="Select">
        	</form>
        {% else %}
            <strong>Something is wrong.....</strong>
        {% endif %}
        
    </div>
        
<!---->
    <script type="text/javascript">
		document.getElementById('teamSelect').onchange = function() {
   			document.getElementById('teamForm').action = '/'+this.value;
		}
	</script>
<!---->

    </body>
</html>
