<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta name="google-site-verification" content="lSGP4VGCjCsSuYeRRi_8Gx_Dgw6NI0VpIwHKOlyLZYA" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!--<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />-->

<link rel="shortcut icon" href="/image/site/favicon.ico" type="image/jpg" />

<link href="/tools/style.css" rel="stylesheet" type="text/css" title="main" />

<script type="text/javascript" src="/tools/jscript/jquery.js"></script>

<title>Team Histories | GBE College Football Ratings</title>

</head>
    
<body>

<h2>Team History Report</h2>

<h3>Select a team to get historical data</h3>

<div>

{% if teams %}
    <form id="teamForm" action="/" method="post">{% csrf_token %}
        Team: <select id="teamSelect" name="team">
            <option value=""></option>
            {% for team in teams %}
                <option value="{{ team.teamname }}">{{ team.teamname }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Select">
    </form>
{% else %}
    <strong>Something is wrong.....</strong>
{% endif %}

</div>

<!---->
<script type="text/javascript">
document.getElementById('teamSelect').onchange = function() {
    document.getElementById('teamForm').action = '/'+this.value;
}
</script>
<!---->

</body>

</html>